
{{> navbar}}


<div class="problem-pitch">


	<div id="problem-pitch-overlay">
		<video playsinline autoplay muted loop poster="../public/images/mit.png" id="bgvid" onclick="this.paused ? this.play() : this.pause();">
	  	<source src="../public/images/mit.mp4" type="video/mp4">
		</video>		
	</div>
	
	<div id="problem-pitch-text">
		<div id="caption-site">
			<h1>gray</h1>
			<h2>because there are many shades</h2>
		</div>
<!-- 
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
 -->
    <br><br>
		<a href="/submit" class="btn btn-custom"><span class="fa fa-user"></span> Join the video chain</a>
		
	</div>
"
</div>


<div class="container">
	<!-- <div id="cy"></div> -->

	<div class="row">	
		{{#each videos}}
			
			<div class="col-md-4 col-sm-6 video-panel-container">
				<div class="thumbnail video-panel">
					
					<a href="/singlevideo/{{this._id}}">
						{{#embedYoutubeImg}}{{this}}{{/embedYoutubeImg}}
					</a>
					{{this.promptString}}
					
					<div class="caption">
						{{this.newQuestion}}
						<p>~{{this.speaker}}</p>
					</div>
			</div>
		</div>
		{{/each}}
	
	</div> 

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
<script src="/javascripts/videos.js"></script>